.table-data {
    width: 100%;
}

.order {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    margin-top: 20px;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.col {
    flex: 1;
    margin-right: 10px;
}

.col:last-child {
    margin-right: 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}


.button:last-child {
    margin-right: 0;
}
